[edit]
    command = "emacs"
    args = ["-nw"]

{{- $use_zsh_root_dir := promptBoolOnce . "use_zsh_root_dir" "Use ZSH_ROOT_DIR for tmux shell" }}
{{ $email := promptString "email" -}}

[data]
    use_zsh_root_dir = {{ $use_zsh_root_dir }}
    email = {{ $email | quote }}