[edit]
    command = "emacs"
    args = ["-nw"]

{{ $use_zsh_root_dir := promptBoolOnce . "use_zsh_root_dir" "Use ZSH_ROOT_DIR for tmux shell" }}
{{ $email := promptStringOnce . "email" "email" -}}
{{ $test_machine := promptBoolOnce . "test_machine" "test_machine" }}

[data]
    use_zsh_root_dir = {{ $use_zsh_root_dir }}
    email = {{ $email | quote }}
    test_machine = {{ $test_machine }}
    spack_packages = false