.DS_Store
.venv

*.pyc
Pipfile.lock

# beets
*/.config/beets/state.pickle

# irony
bin/bin/irony-server

# emacs files and folders
*/.emacs.d/.dap-breakpoints
*/.emacs.d/.extension/
*/.emacs.d/.last-package-update-day
*/.emacs.d/.lsp-session-v1
*/.emacs.d/abbrev_defs
*/.emacs.d/auto-save-list/
*/.emacs.d/backups/
*/.emacs.d/elpa/
*/.emacs.d/elpy/
*/.emacs.d/emms/cache
*/.emacs.d/emms/history
*/.emacs.d/emms/scores
*/.emacs.d/irony/
*/.emacs.d/network-security.data
*/.emacs.d/projectile-bookmarks.eld
*/.emacs.d/projectile.cache
*/.emacs.d/recentf
*/.emacs.d/srecode-map.el
*/.emacs.d/tramp
*/.emacs.d/transient/

# vscode
vscode/.vscode/extensions/llvm-org.lldb-vscode-0.1.0/bin
vscode/.vscode/extensions/llvm-org.lldb-vscode-0.1.0/lib
vscode/.vscode/extensions/llvm-org.lldb-vscode-0.1.0/node_modules
vscode/.vscode/extensions/llvm-org.lldb-vscode-0.1.0/package*.json