# tmux configuration file

#----------------------------------------
# Status bar
#----------------------------------------

# Color definitions:
# https://jonasjacek.github.io/colors/
# https://commons.wikimedia.org/wiki/File:Xterm_256color_chart.svg
set -g status-style fg=colour161,bg=colour234,bright # deeppink3, grey11
set -g status-left-length 30
set -g window-status-current-style bg=colour241,fg=colour046 # grey39, green1
set -g status-left '#[fg=colour172][#(whoami)@#h] #[fg=black,bright]• '
set -g status-right '#[fg=black,bright]• #[fg=magenta]#(cut -d " " -f1-3 /proc/loadavg) #[fg=black,bright]• #[fg=colour039]%a, %b %d #[fg=black,bright]• #[fg=colour70]%R'
set -g message-style fg=black,bg=colour203 # indianred1

#----------------------------------------
# Keys
#----------------------------------------

# windows
bind-key -n M-n new-window -c "#{pane_current_path}"
bind-key -n M-1 select-window -t :1
bind-key -n M-2 select-window -t :2
bind-key -n M-3 select-window -t :3
bind-key -n M-4 select-window -t :4
bind-key -n M-5 select-window -t :5
bind-key -n M-6 select-window -t :6
bind-key -n M-7 select-window -t :7
bind-key -n M-8 select-window -t :8
bind-key -n M-9 select-window -t :9
bind-key -n M-0 select-window -t :0
bind-key -n M-. select-window -n
bind-key -n M-, select-window -p
bind-key -n M-b last-window
#bind-key -n M-X confirm kill-window
bind-key -n M-- split-window -v -c "#{pane_current_path}"
#bind-key -n M-\\ split-window -h -c "#{pane_current_path}"
bind-key -n M-v split-window -h -c "#{pane_current_path}"
bind-key -n M-V split-window -v -c "#{pane_current_path}"
bind-key -n M-/ copy-mode

# panes
bind-key -n M-h select-pane -L
bind-key -n M-k select-pane -D
bind-key -n M-i select-pane -U
bind-key -n M-j select-pane -L
bind-key -n M-Left select-pane -L
bind-key -n M-Right select-pane -R
bind-key -n M-Up select-pane -U
bind-key -n M-Down select-pane -D
#bind-key -n M-x confirm-before "kill-pane"

bind k confirm kill-window
bind K confirm kill-server
bind b last-window
bind r source-file ~/.tmux.conf

# Split pane commands
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

#----------------------------------------
# Options
#----------------------------------------

setw -g aggressive-resize on
set -g update-environment "SSH_CONNECTION SSH_CLIENT"

{{- if .use_zsh_root_dir }}
set-option -g default-shell ${ZSH_ROOT_DIR}/bin/zsh
{{- end }}