[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
flake8 = "*"
jedi = "*"
yapf = "*"
rope = "*"
importmagic = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
black = "*"
elpy = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true