autopep8
beautifulsoup4
beets
black
codespell
colorcet
Cython
docutils
doxysphinx
flake8
Flask
ggplot
grip
h5py
imageio
importmagic
jupyter
line-profiler
markdown
matplotlib
memory-profiler
musicbrainzngs
numba
numpy
pandas
pbr
pillow
pipenv
pydantic
pyenchant
pyflakes
pygame
pygments
python-dateutil
pyyaml
restview
seaborn
scikit-learn
scipy
snakeviz
sphinx
sphinx-copybutton
sphinx-toolbox
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinxcontrib-spelling
sympy
tensorboardX
tensorflow
torch
torchvision
virtualenv
virtualenvwrapper
xlrd
yt
