{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

if [[ ! -x "$(command -v pyenv)" ]]; then
   curl https://pyenv.run | bash
fi

if [[ ! -x "$(command -v fzf)" ]]; then
   git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
   ~/.fzf/install --all
fi

if [[ ! -x "$(command -v uv)" ]]; then
   curl -LsSf https://astral.sh/uv/install.sh | sh
fi

bash ${HOME}/bin/install_fonts.sh

{{ end -}}
