{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --file=/dev/stdin <<EOF

brew "gcc"
brew "fzf"
brew "pyenv"

{{- if not .test_machine }}
brew "act"
brew "age"
brew "aspell"
brew "autoconf"
brew "automake"
brew "bash"
brew "pkg-config"
brew "ccache"
brew "cloc"
brew "readline"
brew "llvm"
brew "ccls"
brew "chezmoi"
brew "clang-format"
brew "cmake"
brew "colordiff"
brew "coreutils"
brew "cppcheck"
brew "dos2unix"
brew "doxygen"
brew "enchant"
brew "epstool"
brew "exiftool"
brew "eza"
brew "faac"
brew "fd"
brew "fdk-aac"
brew "fftw"
brew "findutils"
brew "flac123"
brew "gawk"
brew "git"
brew "ghostscript"
brew "global"
brew "gnuplot"
brew "graphviz"
brew "htop"
brew "hunspell"
brew "imagemagick"
brew "ispell"
brew "markdown"
brew "modules"
brew "mp3info"
brew "mpich"
brew "mpv"
brew "nnn"
brew "node"
brew "npm"
brew "ocrmypdf"
brew "openssl@3"
brew "pandoc"
brew "pianobar"
brew "pipx"
brew "prettyping"
brew "python@3.10"
brew "qrencode"
brew "ripgrep"
brew "shellcheck"
brew "shfmt"
brew "stow"
brew "sqlite3"
brew "taglib"
brew "terminal-notifier"
brew "tlrc"
brew "tmux"
brew "tree"
brew "tree-sitter"
brew "uv"
brew "vorbis-tools"
brew "wdiff"
brew "wget"
brew "xpdf"
brew "xz"
brew "yt-dlp"
brew "zlib"

tap "jimeh/emacs-builds"
cask_args appdir: "~/Applications"
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "adobe-acrobat-reader"
cask "emacs-app"
cask "firefox"
cask "gimp"
cask "hammerspoon"
cask "inkscape"
cask "iterm2"
cask "keepassxc"
cask "mactex"
cask "miniforge"
cask "paraview"
cask "slack"
cask "visit"
cask "vivaldi"
cask "vlc"
cask "xquartz"
cask "zoom"
cask "zotero"
{{ end }}
EOF

brew pin gcc

{{- if not .test_machine }}
brew pin mpich
{{ end }}

{{ end -}}
