# -*- mode: sh; sh-indentation: 4; indent-tabs-mode: nil; sh-basic-offset: 4; -*-

# Copyright (c) 2024 Marc Henry de Frahan

# According to the Zsh Plugin Standard:
# https://zdharma-continuum.github.io/Zsh-100-Commits-Club/Zsh-Plugin-Standard.html

0=${${ZERO:-${0:#$ZSH_ARGZERO}}:-${(%):-%N}}
0=${${(M)0:#/*}:-$PWD/$0}

# Then ${0:h} to get hpc's directory

if [[ ${zsh_loaded_plugins[-1]} != */personal && -z ${fpath[(r)${0:h}]} ]] {
    fpath+=( "${0:h}" )
}

# Standard hash for plugins, to not pollute the namespace
typeset -gA Plugins
Plugins[PERSONAL_DIR]="${0:h}"

{{- if .nrel_hpc }}
# Custom for NREL HPC machines

# Set scratch
if [ -d "/scratch/${USER}" ]; then
    export SCRATCH="/scratch/${USER}"
fi

# Set the modules
if [ "${NREL_CLUSTER}" = "eagle" ]; then
    source /nopt/nrel/utils/lmod/lmod/init/zsh
    source /nopt/nrel/ecom/hpacf/env.sh
    module use ${HOME}/modules/linux-centos7-skylake_avx512/gcc-9.3.0
    export TMPDIR=${SCRATCH}/.tmp
elif [ "${NREL_CLUSTER}" = "ellis" ]; then
    MODULES_DATE=2023-05-11
    source /data/ssd1/software/${MODULES_DATE}/env.sh
    export TMPDIR=/data/ssd1/home/${USER}/.tmp
fi

umask u=rwx,go=rx,o=rx

function load_custom_modules {

    {
        module purge
        module load gcc
        module load mpt
        module load binutils
        module load bzip2
        module load cmake
        module load ffmpeg/4.2.2
        module load git
        module load gnutls
        module load htop
        module load image-magick
        module load libffi
        module load libtool
        module load openssl
        module load python/3.7.7
        module load py-setuptools-scm
        module load sqlite
        module load texlive
        module load tmux

        module load emacs/28.2
        module load ccls
    } &> /dev/null
}

function pv510server() {
    module load paraview/5.10.1-server
    srun -n $1 -c 1 --cpu_bind=cores pvserver
}

function pv510gui() {
    module load paraview/5.10.1-gui
    vglrun paraview
}

function pvtunnel() {
    ssh -L 11111:$1:11111 mhenryde@$1
}

function pyenv_python_install(){
    module load gcc
    module load mpt
    module load binutils
    module load git
    module load gnutls
    module load libtool
    module load texlive
    module load bzip2
    module load libffi
    module load openssl
    module load sqlite
    export LDFLAGS="-L${OPENSSL_ROOT_DIR}/lib -L${LIBFFI_ROOT_DIR}/lib64 -L${BZIP2_ROOT_DIR}/lib -L${SQLITE_ROOT_DIR}/lib"
    export CPPFLAGS="-I${OPENSSL_ROOT_DIR}/include -I${LIBFFI_ROOT_DIR}/include -I${BZIP2_ROOT_DIR}/include -I${SQLITE_ROOT_DIR}/include"
    export PYTHON_CONFIGURE_OPTS="--enable-optimizations --with-lto"
    export PYTHON_CFLAGS="-mtune=native"
    pyenv install
}
{{ end }}

{{- if .ornl_hpc }}
# Custom for OLCF HPC machines
function load_custom_modules {
    {
        module load DefApps-spi/default
        module load cmake
        module load emacs
        module load go
        module load htop
        module load imagemagick
        module load tmux

        module load cray-python

    } &> /dev/null
}
{{ end }}

{{- if or (.nrel_hpc) (.ornl_hpc) }}
load_custom_modules
{{ end }}

# Use alternate vim marks [[[ and ]]] as the original ones can
# confuse nested substitutions, e.g.: ${${${VAR}}}

# vim:ft=zsh:tw=80:sw=4:sts=4:et:foldmarker=[[[,]]]
